<tr>
  <td>{{p.id}}</td>
  <td>{{p.name}}</td>
  <td>{{p.price}}</td>
  <td>{{p.quantity}}</td>
  <td>{{p.selected}}</td>
  <td>{{p.available}}</td>
  <td>
    <button (click)="onSelect(p)" [ngClass]="p.selected?'btn-success':'btn-danger'" class="btn btn-sm">
      <div *ngIf="p.selected"><strong>UNSELECT</strong></div>
      <div *ngIf="!p.selected"><strong>SELECT</strong></div>
    </button>
  </td>
  <td>
    <button class="btn btn-danger" (click)="onDeleteProduct(p)">
      <span class="fa fa-trash-o"></span>
    </button>
  </td>
  <td>
    <button class="btn btn-info" (click)="onEditProduct(p)">
      <span class="fa fa-edit"></span>
    </button>
  </td>
</tr>
